
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v11/IIm-lPOtfVKQy0GMiczF_1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
   
}
* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body {
    background-color: #080429;
}

.prin {
    background-color:#080429;
    width: 100%;
    height: 110px;
    border-radius: 18px;
    border:white solid;
    border-radius:20px ;
}

.prin a img{
    float: left;
    margin-top: 25px;
   height: 70px;
   width: 21%;    
}

.prin input{
   background-color: white;
   border: grey solid;
   margin-top: 35px;
   margin-left: 90px;
   float: left;
   cursor: pointer;
   font-size: 16px;
   color: blue;
   padding: 10px;
   width: 40%;
   border-radius: 20px;
}

#log{
   border: white solid;
   border-radius: 100%;
   float: left;
   margin-top: 30px;
   margin-left: 130px;
   width: 50px;
   height: 45px;
}
#men{
   float: left;
   margin-top: 30px;
   margin-left: 20px;
   width: 50px;
   height: 45px;
   border: white solid;
   border-radius: 100%;
}
#acer{
   float: left;
   width: 85px;
   height: 85px;
   margin-top: 13px;
   border-radius: 100%;
}

.menu ul {
    float: left;
    width: 99.6%;
    margin: 0%;
    margin-top: 15px;
    padding: 0%;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    background-color:white;
}

.menu ul li {
    float: left;
    list-style: none;
    padding: 13px;
    margin: 0%;
    padding-left: 36.93px;
    padding-right: 33px;
    border-left: 1px solid;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:#080429 ;
}

.menu ul li:hover{
    background-color: gray;
    text-decoration: wheat;
    cursor: pointer;
}

.inf {
    background-color: #080429;
    
    border-top: white  solid;
    border-bottom: white solid;
    float: left;
    margin-top:70px;
    width: 97%;
    padding: 20px;
    border-radius: 20px;
}

 .inf .cont{
    margin-left: 20px;
    background-color: #080429;
    float: left;
    width: 600px;
    margin-top: 30px;
 }

 .inf .cont h1{
     background-color: white;
     width: 100%;
     color: #080429;
     font-family: 'raleway';
     text-align: center;
     font-size: 35px;
 }

 .inf .cont p{
    font-family: 'raleway';
    color: white;
    font-weight: bold;
    text-align: justify;
    font-size: 15px;
}

.inf .cont #btnu{
    background-color: #080429;
    color: white;
    margin-left: 90px;
    font-family: 'raleway';
    margin-top: 10px;
    float: left;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px ;
    border-radius: 40px;
}
.inf .cont #btnu:hover {
    background-color: white;
    color: #080429;
    font-weight: bold;
}

.inf .cont #btnd{
    background-color: #080429;
    color: white;
    float: right;
    font-family: 'raleway';
    margin-top: 10px;
    margin-right:100px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px ;
    border-radius: 40px;
}
.inf .cont #btnd:hover{
    background-color: white;
    color: #080429;
    font-weight: bold;
}

 .inf img{
     float: left;
     height: 380px;
     width: 430px;
     margin-left: 170px;
     border: white solid;
     border-radius: 30px;
}
 

.servicios{
    margin-top: 50px;
    border-radius: 15px;
    float: left;
    width: 100%;
    background-color: #080429;
    border-bottom: white solid;
    border-left: white solid;
    border-right: white solid;
}
.servicios h1 {
    text-align: center;
    font-family: 'raleway';
    font-weight: bolder;
    
    border-radius: 10px;
    color: #080429;
    border-top: #080429;
    border-bottom: #080429 solid;
    margin-top: 0px;
    font-size: 35px;
    background-color: white;
    margin-bottom: 10px;
}

.servicios .acontable{
    margin-left: 100px;
    float: left;
    
}
.servicios .alaboral {
    margin-left: 180px;
    float: left;
}
.servicios .atributaria{
    margin-left: 180px;
    float: left;
}

.servicios .acontable img{
    width: 250px;
    height: 155px;
    border: 3px solid ;
    border-radius: 20px;
}
.servicios a{
    font-family: 'raleway';
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

}
.servicios a:hover{
    color: goldenrod ;
}

.servicios .alaboral img{
    width: 250px;
    height: 155px;
    border: 3px solid white;
    border-radius: 20px;
}
.servicios .atributaria img{

    width: 250px;
    height: 155px;
    border: 3px solid white;
    border-radius: 20px;
}

#asuno{
    direction: rtl;
    background-color: #080429;
    border-top: white  solid;
    border-bottom: white solid;
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.puntuacion {
    float: left;
    margin: 15px;
    margin-left: 25px;
    padding-bottom: 25px;
}

.puntuacion img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 35px;
    border: white solid;
}

.puntuacion label {
    font-size: 20px;
    margin-right: 12px;
}
#asuno .puntuacion label:hover,
#asuno label:hover ~ label{
    color: white;
}

.persona{
    direction: ltr;
    margin-top: 10px;
}
.persona h3{
    font-family: 'raleway';
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    color: #080429;
}

.persona p {
    font-family: 'raleway';
    font-weight: bold;
    font-size: 15px;
    padding-top: 0%;
    color: white;
    padding-right: 30px;
    text-align: justify;
}

#nosotros {
    margin-top: 20px;
    border-radius: 10px;
    border-bottom: white solid;
    float: left;
    width: 100%;
    padding-bottom: 30px;
} 

#nosotros h1{
    border-radius: 10px;
    font-family: 'raleway';
    background-color:white;
    color: #080429;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}
#nosotros div{
    float: left;
    margin: 15px;
    margin-left: 170px;
    margin-top: 20px;
} 
#nosotros div img:hover{
    border: goldenrod solid;
}

#nosotros div img{
    border:white solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
} 

#nosotros div button{
    color: #080429;
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
} 
#nosotros div button:hover{
    color: white;
    background-color: #080429;
    border: white solid;
} 

footer{
    float: left;
    margin-top: 40px;
    border: white solid;
    border-radius: 10px;
    background-color: #080429;
    padding-bottom: 20px;
}
footer .fone{
    float: left;
    background-color: #080429;
    margin-top: 30px;
    padding-top: 20px;
    margin-left: 50px;
    width: 370px;
    height:240px;
    color: white;
}

footer .ftwo{
    float: left;
    background-color: #080429;
    padding-top: 20px;
    height:240px;
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
footer .ftres{
    float: left;
    background-color: #080429;
    margin-top: 0px;
    padding-top: 20px;
    height:240px;
    width: 300px;
    padding-left: 100px;
    padding-right: 100px;
    
}
#ins{
    width: 50px;
    height: 60px;
    margin-left: 40px;
    
}
#fbk{ 
    border: white solid;
    width: 35px;
    height: 35px;
    margin-left: 80px;
    margin-bottom: 10px;
}
#logof{
    border: white solid;
    margin-top: 10px;
    width: 275px;
    height: 70px;
    
}


footer div .fone a,p{
    
    padding-left: 10px;
    font-size: 13px;
    
}
legend {
   align-items: center;
}
footer div fieldset {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
}
hr, .color {
    height: 1px;
   border: 0;
   background-color: white;
}
footer div fieldset h4{
    margin-top: 25px;
    font-size: 15px;
    padding-left: 30px;
    color: white;
}